<ion-content [fullscreen]="true" class="home-content">
  <div class="background-gradient"></div>

  <ion-card class="profile-card">
    <div class="profile-picture-wrapper">
      <img alt="Minha Foto" src="assets/fotinha.jpg" />
    </div>

    <ion-card-header>
      <ion-card-title>Lucas Cunha Medeiros</ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="school-outline" class="ion-align-self-center"></ion-icon>
        Código de Turma: (2025-2-PAS23103-CG-ADS0301N)
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-button class="details-button" [routerLink]="['/sobre']" shape="round" expand="block" routerDirection="forward">
    Ver Perfil Completo
    <ion-icon slot="end" name="arrow-forward-circle"></ion-icon>
  </ion-button>
</ion-content>